.home-labs,
.labs-content {
	position: relative;

	display: flex;
	flex-direction: column;
	row-gap: 18px;

	width: 100%;
	height: fit-content;
}

.labs-grid__wrapper {
	display: flex;

	overflow: hidden;
	height: 0;
}

.labs-grid {
	display: grid;

	width: 100%;
	height: fit-content;

	column-gap: 16px;
	row-gap: 40px;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.labs-card {
	display: flex;
	flex-direction: column;

	width: 100%;
	/* min-width: 360px; */

	/* border: 1px solid var(--title-color);
	border-radius: 4px; */

	overflow: hidden;
}

.labs-card__video {
	width: 100%;
	height: fit-content;
}

.labs-card__title {
	padding: 8px;
	font-size: var(--normal-font-size);
	line-height: 2rem;
}


@media screen and (max-width: 1160px) {
	.labs-card__title {
		font-size: var(--small-font-size);
	}
}

@media screen and (max-width: 969px) {
	.labs-grid {
		grid-template-columns: 1fr 1fr;
	}
	.labs-card__title {
		font-size: var(--normal-font-size);
	}
}

@media screen and (max-width: 768px) {
	.labs-grid {
		grid-template-columns: 1fr;
	}
	.labs-card__title {
		font-size: var(--normal-font-size);
	}
}

/* КАРУСЕЛЬ */

.customers-objects {
	position: relative;

	width: 100vw;
	min-width: 1000px;
	height: 324px;
	display: flex;
	align-items: center;

	padding-bottom: 24px;
}

.customers-carousel {
	/* position: absolute; */
	width: 100vw;
	min-width: 1000px;
	height: 100%;
}

.noclicker {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.table {
	width: 100%;
	height: 300px;

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: repeat(6, 1fr);
	gap: 40px;
	padding-right: 40px;
}

.cart {
	width: 100%;
	height: 100%;
}

.customer {
	width: 100%;
	height: 100%;

	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	filter: grayscale(1);
}

.carousel .slider.animated {
	transition: all 0.35s cubic-bezier(0.42, 0.42, 0.74, 0.74);
}
