.home-courses,
.courses-content {
	position: relative;

	width: 100%;

	height: fit-content;
	min-height: fit-content;

	display: flex;
	flex-direction: column;
	row-gap: 18px;
}

.courses-content{
	padding-top: 24px;
}

.courses__wrapper {
	display: flex;
	flex-direction: column;

	/* align-items: center; */

	row-gap: 18px;
}

.courses__info {
	display: flex;
	flex-direction: column;

	row-gap: 18px;

	line-height: 32px;
}

.courses-block__contacts {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	column-gap: 12px;
	flex-direction: column;
}

.courses__info_mail {
	font-weight: var(--font-medium);
	color: var(--text-color);

	text-decoration: underline;
	outline: none;

	width: fit-content;
	max-width: fit-content;
	text-align: left;
}

.show-form--btn {
	height: 36px;
	padding-right: 8px;
	padding-left: 8px;
	min-width: 64px;

	background-color: transparent;
	color: var(--first-color);

	border-radius: 4px;
}

.show-form--btn:hover,
.show-form--btn:focus {
	background-color: #b7c7b2;
}

.courses-card__wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	right: 0;

	z-index: calc(var(--z-fixed) - 1);
	overflow-y: auto;

	background-color: hsla(120, 81%, 6%, 0.5);

	display: flex;

	justify-content: center;

	column-gap: 40px;
}

.courses-card {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #f2fcee;

	width: fit-content;
	height: fit-content;

	margin-top: 61px;

	padding: 60px 48px 20px 48px;
	border-radius: 4px;
}

.courses-block {
	display: inline-flex;
	align-items: center;

	column-gap: 2rem;
}
.courses-block__info {
	display: flex;
	flex-direction: column;
	max-width: 50%;

	row-gap: 12px;
}

.show-form--block {
	font-weight: var(--font-medium);
}

.courses-info__wrapper {
	display: flex;
	column-gap: 28px;
	row-gap: 12px;
	width: 100%;
	flex-wrap: wrap;
}

.courses-info__price {
	font-weight: var(--font-medium);
}

.courses-block__gif {
	height: fit-content;
	width: 500px;

	padding-left: 2rem;
}
.courses-block__gif img {
	height: auto;
	width: 100%;
}

@media screen and (max-width: 920px) {
	.courses-block__gif {
		height: fit-content;
		width: 400px;
	}
}

@media screen and (max-width: 768px) {
	.courses-block__gif {
		display: none;
	}
	.courses-block__info {
		max-width: 100%;
	}
	.courses__info p {
		text-align: justify;
	}
}

.courses__close {
	position: absolute;

	display: inline-flex;
	cursor: pointer;

	align-items: center;
	justify-content: center;

	color: var(--title-color);

	height: 36px;
	width: 36px;

	top: 1.25rem;
	right: 1.25rem;
}

.courses__close:hover {
	border-radius: 50%;
	background-color: #cccc;
}

.courses__close img {
	width: 24px;
	height: 24px;
}

.courses-form {
	display: flex;
	flex-direction: column;

	padding-top: 16px;
	row-gap: 14px;

	width: 100%;
}

.courses-form--sub {
	font-size: var(--smaller-font-size);
	color: #b7c7b2;
}

.courses-form--sub a {
	font-size: inherit;
	color: var(--text-color);
	font-weight: var(--font-medium);
	opacity: 0.6;
}

.courses-form__google-link {
	font-size: inherit;
	color: var(--text-color);
	font-weight: var(--font-medium);
}

.courses-form--sub a:hover {
	color: var(--title-color);
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.courses-btn {
		align-self: center;
	}
}

@media screen and (max-width: 375px) {
	.courses-form {
		width: 100%;
	}
}

.course-form__submit-btn {
	height: 48px;
	min-width: 64px;
	width: fit-content;

	padding-left: 16px;
	padding-right: 16px;
}

/* ======= ТЕКСТОВЫЙ ИМПУТ ======= */
.couses-form__text-input {
	position: relative;
	display: inline-flex;
	align-items: center;

	width: 100%;
	height: 48px;

	margin-bottom: 16px; /* HELPER TEXT HEIGHT */

	cursor: text;
}

.couses-form__text-input:hover:not(.couses-form__text-input--focused)
	.text-input__label-notch-outline--trailing,
.couses-form__text-input:hover:not(.couses-form__text-input--focused)
	.text-input__label-notch-outline--leading,
.couses-form__text-input:hover:not(.couses-form__text-input--focused)
	.text-input__label-notch-outline--label {
	border-color: var(--title-color);
	border-width: 2px;
}

.text-input__input {
	width: 100%;
	height: 100%;

	padding: 12px 16px 14px;

	background-color: transparent;
	outline: none;
	border: none !important;
}

.text-input__input::placeholder {
	visibility: hidden;
}
.text-input__input::-webkit-input-placeholder {
	visibility: hidden;
}
.text-input__input::-moz-placeholder {
	visibility: hidden;
} /* Firefox 19+ */
.text-input__input:-moz-placeholder {
	visibility: hidden;
} /* Firefox 18- */
.text-input__input:-ms-input-placeholder {
	visibility: hidden;
}

.text-input__label-notch {
	position: absolute;

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 12px auto 1fr;

	/* align-items: center; */

	width: 100%;
	height: 100%;

	color: #b7c7b2;
}

.text-input__label-notch label {
	transition: all 0.4s ease;

	font-family: inherit;
	font-weight: inherit;

	padding-left: 4px;
	padding-right: 4px;
}

.text-input__label-notch-outline--label {
	position: relative;

	display: inline-flex;
	align-items: center;
	justify-content: flex-start;

	height: 100%;
	width: fit-content;
	min-width: 42px;

	border-top: 1px solid #b7c7b2;
	border-bottom: 1px solid #b7c7b2;

	cursor: text;
}

.text-input__label-notch-outline--leading {
	width: 12px;
	min-width: 12px;
	height: 100%;

	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	border-left: 1px solid #b7c7b2;
	border-top: 1px solid #b7c7b2;
	border-bottom: 1px solid #b7c7b2;
}

.text-input__label-notch-outline--trailing {
	width: 100%;
	height: 100%;

	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;

	border-top: 1px solid #b7c7b2;
	border-right: 1px solid #b7c7b2;
	border-bottom: 1px solid #b7c7b2;
}

.couses-form__text-input--focused .text-input__label-notch {
	color: var(--first-color);
}

.couses-form__text-input--focused .text-input__label-notch-outline--label,
.couses-form__text-input.not-empty .text-input__label-notch-outline--label {
	border-top: none;

	justify-content: center;
}

.couses-form__text-input--focused .text-input__label-notch-outline--label label,
.couses-form__text-input.not-empty
	.text-input__label-notch-outline--label
	label {
	position: relative;

	font-size: var(--smaller-font-size);

	padding-right: 4px;

	height: 16px;

	transform: translateY(-22px);
}

.couses-form__text-input--focused .text-input__label-notch-outline--trailing,
.couses-form__text-input--focused .text-input__label-notch-outline--leading,
.couses-form__text-input.couses-form__text-input--focused
	.text-input__label-notch-outline--label {
	border-color: var(--first-color);
	border-width: 2px;
}

.couses-form__text-input--focused .text-input__input::placeholder {
	visibility: visible;
}
.couses-form__text-input--focused
	.text-input__input::-webkit-input-placeholder {
	visibility: visible;
}
.couses-form__text-input--focused .text-input__input::-moz-placeholder {
	visibility: visible;
} /* Firefox 19+ */
.couses-form__text-input--focused .text-input__input:-moz-placeholder {
	visibility: visible;
} /* Firefox 18- */
.couses-form__text-input--focused .text-input__input:-ms-input-placeholder {
	visibility: visible;
}

.course-form__submit-btn.main-title_btn {
	align-self: flex-end;
}

.course-type__error {
	position: absolute;
	left: 16px;
	height: 16px;
	bottom: -16px;

	font-size: var(--smaller-font-size);
	color: #b7c7b2;
}

.couses-form__text-input.error .text-input__label-notch-outline--trailing,
.couses-form__text-input.error .text-input__label-notch-outline--leading,
.couses-form__text-input.couses-form__text-input.error
	.text-input__label-notch-outline--label {
	border-color: #b00020 !important;
	border-width: 2px;
}

.couses-form__text-input.error .text-input__label-notch-outline--label label,
.couses-form__text-input.error .course-type__error {
	color: #b00020;
}

.couses-form__text-input.error
	.text-input__label-notch-outline--label
	label::after {
	content: '*';
}

.main-title_btn.course-form__submit-btn:disabled {
	background-color: #b7c7b2;

	color: #d4e1d0;
}

/* ======= СЕЛЕКТОР ======= */

.course-type {
	display: flex;
	align-items: center;

	width: fit-content;
	/* column-gap: 8px; */
	/* justify-content: space-between; */

	border-radius: 4px;
	border: 1px solid var(--title-color);

	overflow: hidden;
}

.course-type__btn:first-child {
	border-right: 1px solid var(--title-color);
}

.course-type__btn {
	padding-left: 16px;
	padding-right: 16px;

	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 48px;
	min-width: 84px;

	background-color: transparent;
	color: var(--title-color);
}

.course-type__btn_input {
	display: inline-block;
	position: absolute;

	width: 100%;
	height: 100%;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.course-type__btn:hover {
	background-color: #d4e1d0;
}

.course-type__btn.selected {
	background-color: #d4e1d0;
}

.course-type__btn_input:focus {
	border-radius: 1px;
	outline: none;
}

.course-type__btn.not-empty {
	background-color: #b7c7b2;
}
