services:
  sitelab:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./cert:/etc/nginx/cert
      - ./letsencrypt-challenges:/var/www/letsencrypt
    deploy:
      resources:
        limits:
          cpus: '0.50'  